.review {
  background-color: var(--light-grey);
  /* min-height: 550px; */
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 105px 0px;
}
