.review {
  background-color: var(--light-grey);
  min-height: 550px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding-top: 104px;
  padding-bottom: 107px; */
}
