.header__card {
  background-color: var(--white);
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  width: 349px;
  height: 328px;
  box-sizing: border-box;
  padding-top: 48px;
  display: grid;
  align-items: center;
  justify-items: center;
}
