.gallery__images {
  width: 1110px;
  height: 578px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .gallery__images {
    width: 70vw;
    height: fit-content;
    justify-content: center;
  }
}
