.header__cards {
  display: flex;
  margin: 0;
  margin-top: 124px;
  max-width: 1109px;
  justify-content: space-between;
  width: 90vw;
}

@media screen and (max-width: 1200px) {
  .header__cards {
    flex-wrap: wrap;
    width: 70vw;
    justify-self: center;
    justify-content: center;
    gap: 14px;
  }
}
