.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-top: 50px;
}

@media screen and (max-width: 980px) {
  .header__nav {
    display: none;
  }
}
