.our-story__more-group {
  display: flex;
  max-width: 1109px;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .our-story__more-group {
    flex-flow: column;
    width: 80vw;
    justify-self: center;
    gap: 45px;
  }
}
