.our-story__second-group {
  background-image: url("../../../images/our-story/bg.png");
  background-size: cover;
  height: 357px;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
