.header__subtitle {
  margin: 0;
  margin-left: 24px;
  color: var(--orange);
  font-size: 50px;
  font-weight: 400;
  width: 430px;
  height: 57px;
  font-family: "Tinos", sans-serif;
}

@media screen and (max-width: 1200px) {
  .header__subtitle {
    margin: 0;
  }
}
