.header__bg {
  background-image: url(../../../images/header-logo/background.png);
  height: 800px;
  width: 100vw;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
