.header__title {
  margin: 0;
  color: var(--orange);
  font-size: 80px;
  font-weight: 400;
  width: 556px;
  height: 85px;
  font-family: "Tinos", sans-serif;
}

@media screen and (max-width: 1200px) {
  .header__title {
    width: fit-content;
  }
}
